@using WebApp.ViewModels;
@model ProductsViewModel

<a asp-action="Index" asp-controller="Products">Länk</a>


<partial name="_ProductListPartial" model="@Model.ProductsForWomen" />
<partial name="_ProductListPartial" model="@Model.ProductsForWomen" />
<partial name="_ProductListPartial" model="@Model.ProductsForWomen" />
<partial name="_ProductListPartial" model="@Model.ProductsForWomen" />